.filter-section,
.recap-section {
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    width: 250px;
    height: fit-content;
    max-height: 90vh;
    border-radius: 16px;
    background: white;
    /* right: 16px; */
}

.actions-container {
    bottom: 16px;
}

.filter-section .btn,
.recap-section .btn {
    width: 100%;
    margin-bottom: 8px;
}

.inactive {
    display: none;
}