@keyframes float {
    0% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
    50% {
        transform: translatey(-30px);
        transform: translatex(20px);
    }
    100% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
}

.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    overflow-y: auto;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    z-index: 10;
    background-color: white;
    width: fit-content;
    height: 85%;
    max-width: 85%;
    max-height: 85%;
    border-radius: 25px;
}

.pop-up.open {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.pop-up .content {
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    padding: 16px;
}

.pop-up-container {
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding: 100px 50px 140px;
}

.pop-up-container .title {
    align-self: center;
}

.pop-up .content .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    color: #3e4146;
    transition: all 0.4s;
    font-weight: bold;
    font-size: 1.5rem;
}

.pop-up .content .close:hover {
    cursor: pointer;
    color: #f66867;
}

.pop-up::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.pop-up::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #c1c0c0;
    visibility: hidden;
}

.pop-up::-webkit-scrollbar-thumb:hover {
    visibility: visible;
}


/* Other styles for the .pop-up class... */